/* Variáveis */
:root{
    --cor1: rgb(209, 209, 0);
    --cor2: black;
    --cor3: white;
    --cor4: rgb(189, 189, 189);
    --cor5: rgba(0, 0, 0, 0.658);
    --cor6: rgba(255, 0, 0, 0.781);
    --cor7: rgba(9, 255, 0, 0.781);
}

#branding h1,
#branding h1 a,
#branding h1 a:link,
#branding h1 a:visited {
    color: var(--cor2);
}

#header {
    background: var(--cor1);
    color: var(--cor2);
}

#user-tools a:focus, #user-tools a:hover {
    border-bottom-color: var(--cor2);
    color: var(--cor2);
}

a:link, a:visited {
    color: var(--cor2);
}

.module h2, .module caption, .inline-group h2 {
    background: var(--cor2);
    color: var(--cor2);
}

div.breadcrumbs {
    background: var(--cor2);
    color: var(--cor2);
}

.paginator a:link, .paginator a:visited {
    background: var(--cor2) !important;
    color: var(--cor2);
}

.paginator a:hover {
    background: var(--cor1) !important;
    color: var(--cor2);
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: var(--cor2);
}

.button.default:active,
input[type=submit].default:active,
.button.default:focus,
input[type=submit].default:focus,
.button.default:hover,
input[type=submit].default:hover {
    background: var(--cor1);
}

.object-tools a:focus, .object-tools a:hover {
    background-color: var(--cor2);
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: var(--cor1);
    color: var(--cor2);
}
.button:active,
input[type=submit]:active,
input[type=button]:active,
.button:focus,
input[type=submit]:focus,
input[type=button]:focus,
.button:hover,
input[type=submit]:hover,
input[type=button]:hover {
    background-color: var(--cor2);
}

#changelist-filter li.selected a {
    color: var(--cor2) !important;
}

#changelist-filter a:focus,
#changelist-filter a:hover,
#changelist-filter li.selected a:focus,
#changelist-filter li.selected a:hover {
    color: var(--cor2) !important;
}

.selector-chosen h2 {
    background: var(--cor2) !important;
    color: var(--cor2);
}

a.active.selector-chooseall:focus,
a.active.selector-clearall:focus,
a.active.selector-chooseall:hover,
a.active.selector-clearall:hover {
    color: var(--cor2) !important;
}
