{% extends 'base.html' %}

{%block titulo%}Cadastrar Alunos{%endblock%}

{% block conteudo %}
<h1 style="margin-bottom: 15px;">Cadastro de Aluno</h1>

<div class="formulario">
    <form action="{% url 'cad_aluno' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form }}
            <tr>
                <td>
                    <button type="submit">Cadastrar</button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
