{% extends 'base.html' %}

{% block conteudo %}
<h1 style="margin-bottom: 15px;">Olá {{ user.first_name }} {{ user.last_name }}</h1>

<div class="formulario">
    <form action="{% url 'dashboard' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form }}
            <tr>
                <td>
                    <button type="submit">Cadastrar</button>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
