{%extends 'base.html'%}
{% load static %}

{%block titulo%}Pagina Principal{%endblock%}

{%block conteudo%}
<div class="bloco1">
    <div id="titulo">
        <h1>Escola Municipal São Sebastião</h1>
        <h3>Escola Pública Municipal</h3>
        <button>Ensino Fundamental | Pré-escola</button>
    </div>
    <img id="i_frente" src="{% static 'img/frente_escola.png' %}" alt="imagem escola">

    <h3>Endereço:</h3>
    <p>Rua Salvador Cirilo Sales</p>
    <p>São Sebastião</p>
    <p>Itajubá - MG</p>
    <p style="margin-bottom: 10px">CEP: 37502-452</p>
    <h3 style="margin-bottom: 10px">Fone: (35) 99854-7322</h3>
    <h3>Email para contato:</h3>
    <p style="margin-bottom: 10px">emss@itajuba.mg.gov.br</p>
    <p>Código INEP: 31055484</p>
    </div>
{%endblock%}
