/* Variáveis */
:root{
    --cor1: rgb(255, 255, 131);
    --cor2: black;
    --cor3: white;
    --cor4: rgb(189, 189, 189);
    --cor5: rgba(0, 0, 0, 0.658);
    --cor6: rgba(255, 0, 0, 0.781);
    --cor7: rgba(9, 255, 0, 0.781);
}
 
*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.menu {
    background-color: var(--cor1);
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    display: block;
    color: var(--cor2);
    padding: 30px 10px;
}

#titulo h1, h3{
    padding-bottom: 5px;
}

#autenticado{
    text-align: right;
    background-color: var(--cor1);
}
#autenticado a{
    color: var(--cor2);
    text-align: right;
}

div.descricao{
    padding: 30px;
}
div.descricao dt{
    font-size: 2em;
    padding-top: 10px;
}
div.descricao dd{
    font-size: 1.2em;
}

body{
    background-color: var(--cor3);
}
body table.tabela{
    border-top: 2px solid var(--cor4);
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
body table.tabela, th, td{
    border-bottom: 2px solid var(--cor4);
    text-align: left;
    padding: 10px;
}
body thead{
    background-color: var(--cor4);
}


main{
    background-color: var(--cor3);
    box-shadow: 2px 2px 10px var(--cor5);
    border-radius: 10px;
    max-width: 1000px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 15px;
    min-height: 500px;
}
div.bloco1{
    background-color: var(--cor3);
    min-height: 150px;
    margin-bottom: 10px;
    padding: 15px;
}
#i_frente{
    margin: auto;
    display: block;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 55px;
}

nav.paginacao{
    margin-top: 30px;
}
nav.paginacao a{
    padding: 9px;
    border: 1px solid var(--cor2);
    color: var(--cor2);
}


footer{
    background-color: var(--cor1);
    font-size: 0.8em;
    font-style: italic;
    min-height: 150px;
}
footer div{
    height: 130px;
}
footer p{
    text-align: center;
    color: rgba(0, 0, 0, 0.849);
}

div.footer img{
    width: 200px;
    position: absolute;
    right: 0;
}

div.formulario{
    border: 3px solid rgba(0, 0, 0, 0.637);
    max-width: 500px;
    margin: auto;
    padding: 15px;
    background-color: var(--cor1);
    border-radius: 20px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.726);
}
div.formulario input{
    width: 90%; 
    margin: 5px;
    padding: 10px;
}
div.formulario label{
    padding: 5px;
    font-weight: bold;
}
div.formulario button{
    margin: 5px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor4);
    transition-duration: 0.4s;
}
div.formulario button:hover{
    background-color: var(--cor2);
    color: var(--cor3);
    font-weight: bold;
    box-shadow: 1px 1px 10px 1px var(--cor5);
}
div.formulario h1{
    text-align: center;
    text-shadow: 1px 1px 3px var(--cor5);
}

div.message{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--cor4);
    padding: 10px;
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px var(--cor2);
}
div.message-erro{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--cor6);
    padding: 10px;
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
}
div.message-sucesso{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--cor7);
    padding: 10px;
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
}